/*
 * Global
 */

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  margin: 0;
}

h4 {
  margin-top: 0;
  margin-bottom: 15px;

  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

/*
 * Lists
 */

.listItem {
  list-style-type: circle;
  padding: 10px;
}

/*
 * Containers
 */

.container, .container-fluid {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*
 * Navigation
 */

.navbar {
  background-color: lightGrey;
  min-height: 20px;
}

/*
 * Forms
 */

.form-input {
  padding: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;

  box-sizing: border-box;
  border-style: solid;
  border-radius: 5px;
  border-width: 0.1em;
  border-color: #CED4DA;

  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
}

.form-input:focus {
  box-shadow: 0px 0px 0px 3px #C0DEFF;
  border-color: #A1CDFD;
}

.form-submit {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  color: white;

  cursor: pointer;
  background-color: #28A745;
  padding: 10px;
  width: 100%;

  border: none;
  border-radius: 5px;
}

.form-submit:hover {
  background-color: #218838
}

.form-submit:focus {
  box-shadow: 0px 0px 0px 3px #95D4A3;
}

.form-group {
  margin-bottom: 10px;
  margin-top: 10px;
}

/*
 * Feedback messages
 */

.alert {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;

  padding: 15px;
  border-style: solid;
  border-width: thin;
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert-danger {
  background-color: #F8D7DA;
  color: #941C24;
  border-color: #F5C6CB;
}

.alert-warning {
  background-color: #FFF3CD;
  color: #856404;
  border-color: #FFEEBA;
}

.alert-success {
  background-color: #D4EDDA;
  color: #155724;
  border-color: #C3E6CB;
}
