/*
 * Global
 */

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    margin: 0;
}

h4 {
    margin-top: 7px;
    margin-bottom: 7px;

    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}

/*
 * Containers
 */

.container {
    width: 85%;
    margin: auto;
}

/*
 * Forms
 */

.form-input {
    padding: 9px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;

    box-sizing: border-box;
    border-style: solid;
    border-radius: 5px;
    border-width: 0.1em;
    border-color: #CED4DA;

    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
}

.form-input:focus {
    box-shadow: 0px 0px 0px 3px #C0DEFF;
    border-color: #A1CDFD;
}

.form-submit {
    cursor: pointer;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    color: white;

    background-color: #28A745;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;

    border: none;
    border-radius: 5px;
}

.form-submit:hover {
    background-color: #218838
}

.form-submit:focus {
    box-shadow: 0px 0px 0px 3px #95D4A3;
}

/*
 * Feedback messages
 */

.alert {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;

    padding: 15px;
    border-style: solid;
    border-width: thin;
}

.alert-danger {
    background-color: #F8D7DA;
    color: #941C24;
    border-color: #F5C6CB;
}

.alert-warning {
    background-color: #FFF3CD;
    color: #856404;
    border-color: #FFEEBA;
}

.alert-success {
    background-color: #D4EDDA;
    color: #155724;
    border-color: #C3E6CB;
}

.alert-secondary {
    background-color: #E2E3E5;
    color: #383D41;
    border-color: #D6D8DB;
}